#frame {
	width: 100%;
	margin: 0 auto;
}

#header {
	position: fixed;
	width: 100%;
	top: 0px; 	/* 위쪽 공백 메우기 */
	left: 0px;  /* 왼쪽 공백 메우기 */
	background-color: #080823;
	border-bottom: 1px solid #bcbcbc;
	padding-top: 30px;
	font-size: 15px;
	text-align: right;
}

#header ul {
	padding-top: 35px; /* 글자 가운데 정렬위해서 */
	padding-right: 100px; /* 글자 오른쪽에서 띄우기 */
	display: inline-block;
}

#header li {
	display: inline; 
	padding-right: 28px; /* 글자 간 간격 */
}

#header li a {
	text-decoration: none;
	font-size: 20px;
	color: #FFFFFF;
}

#header li a:hover {
	color: #BF320F;
}


#container {
	position: relative;
}

@media (min-width: 1300px) and (min-height: 950px) {
	#content {
		width: 63%;
		height: 100%;
		background-color: #FFFFFF;
		padding-bottom: 100px;
		margin-top: 150px;
		float: left;
	}

	#content .kb {
		font-family: 'KoPub Batang', serif; 
		font-size: 60px;
		font-weight: bold;
		padding-top: 100px;
		padding-left: 150px;	
		float: left;
	}

	#content .eng_name {
		font-size: 30px;
		padding-top: 130px;
		color: #8A8A8A;
		padding-left: 20px;
		float:left;
	}

	#content .about1 {
		padding-left: 150px;
		padding-top: 180px;
		line-height: 150%;
	}

	#content .artist_note {
		font-size: 40px;
		padding-left: 150px;
		padding-top: 50px;
	}

	#content .about2 {
		padding-left: 150px;
		padding-top: 10px;
		line-height: 150%;
	}

	#content2 {
		width: 35%;
		height: 100%;
		margin-top: 150px;
		padding-bottom: 100px;
		background-color: #FFFFFF;
		float: left;
	}

	#content2 .cv {
		padding-top: 90px;
		padding-left: 10px;
		font-size: 40px;
	}

	#content2 .name {
		padding-top: 10px;
		padding-left: 20px;
		font-weight: bold;
	}

	#content2 .email {
		padding-top: 10px;
		padding-left: 20px;
	}

	#content2 .title {
		padding-top: 30px;
		padding-left: 20px;
		font-weight: bold;
	}

	#content2 .info {
		padding-top: 10px;
		padding-left: 20px;
		line-height: 150%;
	}

}

#footer {
	position: fixed;
	width: 100%;
	background-color: #FFFFFF;
	left: 0px;  /* 왼쪽 공백 메우기 */
	bottom: 0px;
	text-align: center;
	font-size: 15px;
	padding-bottom: 60px;
	background-color: #ABC;
	border-top: 1px solid #bcbcbc;
}