* {
  margin: 0px;
  padding: 0px;
}

#frame {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #040426;
  text-align: right;
  z-index: 1;
}

#header ul {
  padding-top: 40px;
  padding-right: 40px; /* 글자 오른쪽에서 띄우기 */
  display: inline-block;
}

#header li {
  display: inline; 
}

#header li a {
  text-decoration: none;
  padding-right: 20px;		/* 글자 간 간격 */
  font-size: 18px;
  color: #FFFFFF;
}

#header li a:hover {
  color: #BF320F;
}

#container {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

#content {  /* 가운데 중앙 정렬 */
  position:absolute;
  top:0;right:0;bottom:0;left:0;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;

  align-items:center;
  justify-content:center;
  -webkit-align-items:center;
  -webkit-justify-content:center;

  -webkit-box-pack:center;
  -webkit-box-align:center;
  -moz-box-pack:center;
  -moz-box-align:center;
  -ms-box-pack:center;
  -ms-box-align:center;
}

#content_left {
  position:absolute;
  width: 60%;
  height: 100%;
  left: 0;
  background-color: #CCC;	
}

#content_name {
  position:absolute;
  width: 70%;
  height: 50%;
  top: 120px;
  left: 15%;
  /*background-color: #B6DFF4;*/
}

#name {
  position:absolute;
  width: 100%;
  /*background-color: #00008C;*/
}

#name .ko_name {
  margin-top: 80px;
  font-size: 60px;
  font-weight: bold;
  float: left;
}

#name .eng_name {
  margin-top: 110px;
  font-size: 30px;
  color: #8A8A8A;
  padding-left: 10px;
  float:left;
}

#detail {
  position:absolute;
  width: 100%;
  margin-top: 140px;
  padding-top: 15px;
  line-height: 150%;
  font-size: 15px;
  /*background-color: #B0B0BD;	*/
}

#artist_note {
  position:absolute;
  width: 70%;
  left: 15%;
  top: 370px;
  /*background-color: #B0B0BD; */
}

#artist {
  position:absolute;
  width: 100%;
}

#artist .artist_title {
  font-size: 40px;
  font-weight: bold;
  float: left;
}

#artist_detail {
  width: 100%;
  margin-top: 50px;
  line-height: 150%;
  font-size: 15px;
}


#content_right {
  position:absolute;
  width: 40%;
  height: 100%;
  right: 0;
  font-size: 15px;
  background-color: #DDD;	
}

#cv_title {
  position:absolute;	
  width: 100%;
  margin-left: 15%;
  top: 110px;
  height: 50%;
}

#cv_title .ko_name {
  margin-top: 80px;
  font-size: 60px;
  font-weight: bold;
  float: left;
}

#info {
  position:absolute;
  width: 100%;
  margin-top: 140px;
  padding-top: 15px;
  margin-left: 10px;
  line-height: 130%;
}

#education {
  position:absolute;
  width: 100%;
  margin-top: 230px;
  line-height: 130%;
  margin-left: 10px;
}

#exhibihion {
  position:absolute;
  width: 100%;
  margin-top: 300px;
  line-height: 130%;
  margin-left: 10px;
}

#prize {
  position:absolute;
  width: 100%;
  margin-top: 350px;
  line-height: 130%;
  margin-left: 10px;
}

#artfair {
  position:absolute;
  width: 100%;
  margin-top: 400px;
  line-height: 130%;
  margin-left: 10px;
}



#footer {
  position: fixed;
  width: 100%;
  background-color: #ABC;
  left: 0px;  /* 왼쪽 공백 메우기 */
  bottom: 0px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  z-index: 1;
}
