html {
	background: url(../img/background1.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {	/* 가운데 중앙 정렬 */
	position:absolute;
  	top:0;right:0;bottom:0;left:0;
  	display:-webkit-box;
  	display:-moz-box;
  	display:-ms-flexbox;
  	display:-webkit-flex;
  	display:flex;

  	align-items:center;
  	justify-content:center;
  	-webkit-align-items:center;
  	-webkit-justify-content:center;

  	-webkit-box-pack:center;
  	-webkit-box-align:center;
  	-moz-box-pack:center;
  	-moz-box-align:center;
  	-ms-box-pack:center;
  	-ms-box-align:center;
}
