<!DOCTYPE html>

<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> >> ABOUT </title>
	<!-- Personal implemented stylesheet -->
	<link rel="stylesheet" type="text/css" href="../static/css/about_style.css?version=1" />
</head>

<body>
  <div id="frame">
  	<div id="header">
  	  <ul>
		<li><a href="../index.html"> HOME </a></li>
		<li><a href="about.html"> ABOUT </a></li>
		<li><a href="work.html"> WORK </a></li>
		<li><a href="contact.html"> CONTACT </a></li>
	  </ul>
  	</div>
  	<!-- //header -->
  	<div id="container">
  	  <div id="content">
  	  	<div id="content_left">
  	  	  <div id="content_name">
  	  	  	<div id="name"> 
  	  	  	  <div class="ko_name"> 손희민 </div>
  	  	  	  <div class="eng_name"> HEEMIN SON </div>  
  	  	  	</div>
  	  	  	<div id="detail">
  	  	  	  <p> "동물의 표피를 매게로 하여 재료가 지닌 물성을 드러내는 작업을 한다. 동물이 지닌 생명력과 다양한 질감, 덩어리감에 매료되어 생물의 표피를 캐스팅, 도자, 유리, 시멘트, 종이 등 다양한 재료로 동물의 표피를 재구성한 조각 작품을 만든다." </p>	
  	  	  	</div>
  	  	  </div>
  	  	  <div id="artist_note">
  	  	  	<div id="artist">
  	  	  	  <div class="artist_title"> ARTIST NOTE </div>
  	  	  	</div>
  	  	  	<div id="artist_detail">
  	  	  	  <p>과학기술이 인간의 노동력과 기술력을 대체하고 날마다 새로운 화학물질을 만들어 낼 때, 예술의 조각은 무엇이 되어야 할까? 나는 그것을 실패와 우연, 우발적 사건 속에서 찾아보려 한다. 계획된 데이터 속에서 나올 수 없는, 논리 너머의 영역에서 숙련된 작업자의 노동이 행해질 때, 유일무이한 우연성이 발생할 때, 재료의 물질과 교감하고 그것을 체화하며 경험의 차원에서 작업을 행할 때, 오직 사람만이 할 수 있는 조각의 그 '무엇'이 드러나지 않을까? </p>
  	  	  	</div>
  	  	  </div>
  	  	
  	  	</div>
  	  	<div id="content_right">
  	  	  <div id="cv_title">
  	  	  	<div class="ko_name"> • CV </div>
  	  	  	<div id="info"> <b>손희민 (1992 -) 대한민국, 서울 </b>
  	  	  		<br> Heemin.art@gmail.com 
  	  	  		<br> Website: www.heeminson.com
  	  	  	</div>
  	  	  	<div id="education"> 
  	  	  		<b> [EDUCATION] </b>
  	  	  		<br> 2017 한국예술종합학교 조형예술과 학부 (BFA) 졸업
  	  	  		<br> 2017 한국예술종합학교 조형예술과 도자조형 석사 (MFA) 재학
  	  	  	</div>
  	  	  	<div id="exhibihion"> 
  	  	  		<b> [EXHIBIHION] </b>
  	  	  		<br> 2014 <세 개의 풍경 - 탈출과 변신> 그룹전  
  	  	  	</div>
  	  	  	<div id="prize"> 
  	  	  		<b> [PRIZE] </b>
  	  	  		<br> 2014 정림학생건축상 입선 
  	  	  	</div>
  	  	  	<div id="artfair"> 
  	  	  		<b> [ART FAIR] </b>
  	  	  		<br> 2018 The Life Art Fair _ ARTRIP
  	  	  	</div>
  	  	  </div>
  	  	</div>
  	  </div>
  	</div>
  	<!-- //container -->
  	<div id="footer">
	  <p> © 2018 All Rights Reserved. Designed by Je Min Son </p>
	</div>
	<!-- //footer -->
  </div>
</body>



</html>