<!DOCTYPE html>

<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> >> CONTACT </title>
	<!-- Personal implemented stylesheet -->
	<link rel="stylesheet" type="text/css" href="../static/css/contact_style.css?version=1" />
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <div id="frame">
  	<div id="header">
  	  <ul>
		<li><a href="../index.html"> HOME </a></li>
		<li><a href="about.html"> ABOUT </a></li>
		<li><a href="work.html"> WORK </a></li>
		<li><a href="contact.html"> CONTACT </a></li>
	  </ul>
  	</div>
  	<!-- //header -->
  	<div id="container">
  	  <div id="content">
  	  	<div id="content_top">
  	  	  <!-- envelope icon -->
		  <p><i class="fa fa-envelope-o" style="font-size:40px"></i></p>
		  <form action="mailto:heemins.art@gmail.com" method="post" enctype="text/plain">
		  	<div id="contact_name">
		  	  <label for="name">Name : </label> 
		  	  <input type="text" name="name" placeholder="Enter your name">	
		  	</div>
		  	<div id="contact_info">
		  	  <label for="info">Email : </label> 	
		  	  <input type="text" name="Contact" placeholder="Enter your email">
		  	</div>
		  	<div id="contact_msg">
		  	  <label for="msg">Message : </label>
		  	  <input type="text" name="messgae" placeholder="Enter your message"></textarea>
		  	</div>
		  	<div id="send_button">
		  	  <button type="submit"> Send </button>
		  	</div>
		  </form>
  	  	</div>
  	  	<div id="sns_icon">
  	      <a href="#" class="fa fa-tumblr"></a>
		  <a href="#" class="fa fa-instagram"></a>
  	  	</div>
  	  	

  	  </div>
  		

  	</div>
  	<!-- //container -->

  	<div id="footer">
	  <p> © 2018 All Rights Reserved. Designed by Je Min Son </p>
	</div>
	<!-- //footer -->
  </div>
	
</body>

</html>