<!DOCTYPE html>

<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title> heeminson </title>
	<!-- Personal implemented stylesheet -->
	<link rel="stylesheet" type="text/css" href="../static/css/work_style.css?version=1.1" />

</head>

<body>
	<div id="frame">
		<!-- header -->
		<div id="header">	
			<ul>
				<li><a href="../index.html"> HOME </a></li>
				<li><a href="about.html"> ABOUT </a></li>
				<li><a href="work.html"> WORK </a></li>
				<li><a href="news.html"> NEWS </a></li>
				<li><a href="contact.html"> CONTACT </a></li>
			</ul>
		</div>	
		<div id="dropdown_header">
			<ul>
				<li class="dropdown">
					<a href="javascript:void(0)" class="dropbtn">MENU</a>
					<div class="dropdown-content">
				    	<a href="../index.html"> HOME </a>
				    	<a href="about.html"> ABOUT </a>
				    	<a href="work.html"> WORK </a>
				    	<a href="news.html"> NEWS </a>
				    	<a href="contact.html"> CONTACT </a>
				    </div>
				</li>
			</ul>
		</div>
		<!-- //header -->
		<div id="container">
			<div id="content">
				<div id="content-by-year">
					<div id="year">
						<h1> 2018 </h1>
					</div>
					<div id="image-box"> 
						<img src="../static/img/top1.jpg">
						<button id="image-button"> click </button>
					</div>
					<div id="image-box"> 
						<img src="../static/img/top2.jpg">
						<button id="image-button"> click </button>
					</div>
					<div id="image-box"> 
						<img src="../static/img/top3.jpg">
						<button id="image-button"> click </button>
					</div>
				</div>
				<div id="content-by-year">
					<div id="year">
						<h1> 2016 </h1>
					</div>
					<div id="image-box"> 
						<img src="../static/img/glass1.jpg">
						<button id="image-button"> click </button>
					</div>
					<div id="image-box"> 
						<img src="../static/img/glass2.jpg">
						<button id="image-button"> click </button>
					</div>
					<div id="image-box"> 
						<img src="../static/img/animal1.jpg">
						<button id="image-button"> click </button>
					</div>
					<div id="image-box"> 
						<img src="../static/img/whocareglass1.jpg">
						<button id="image-button"> click </button>
					</div>
				</div>
				<div id="content-by-year">
					<div id="year">
						<h1> 2015 </h1>
					</div>
				</div>
				<div id="content-by-year">
					<div id="year">
						<h1> 2014 </h1>
					</div>
				</div>
				<div id="content-by-year">
					<div id="year">
						<h1> 2013 </h1>
					</div>
				</div>

			</div>
		</div>
		<!-- //container -->

		<div id="footer">
			<p> © 2018 All Rights Reserved. Designed by Je Min Son </p>
		</div>
		<!-- // footer -->
	</div>
	<!--frame -->
</body>



</html>